.videos {
    width: 360px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;


    .video {
        img {
            margin-top: 20px;
            margin-left: 10px;
            width: 350px;
            height: 400px;
            object-fit: cover;

        }

        video {
            width: 360px;
            height: 100%;
            right: 0;
            bottom: 0;
            top: 0;
            border: 1px solid black;

        }
    }
}