.editprofile {
    width: 350px;
    height: 600px;

    .profileUpdate {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }

    .changeprofile {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-content: center;

        label {
            cursor: pointer;

            input {
                display: none;
            }
        }

        .profilephoto {
            display: flex;
            flex-direction: column;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-self: center;
                object-fit: cover;
            }

            span {
                display: block;
                font-size: small;
            }
        }
    }

    .personaldetail {
        margin-left: 10px;

        input {
            width: 90%;
            border: none;
            padding: 5px;
            margin-bottom: 20px;
            outline: none;
            background-color: black;
            border-bottom: 1px solid white;
            color: white;

            &::placeholder {
                color: darkgray;
            }
        }

        span {
            display: block;
            font-size: small;
            color: lightgray;
            margin-left: 6px;
        }


    }

    .link {
        border: 1px solid rgba(245, 245, 245, 0.219);
        padding: 10px;
        margin: 10px 0;
        width: 100%;

        a {
            color: blue;
            text-decoration: none;
        }
    }


}