.Story {
    position: relative;
    margin: 0px 10px;
    width: 340px;
    overflow: scroll;
    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }

    .stories {
        height: 80px;
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;

        .story {
            position: relative;

            img {
                border-radius: 50%;
                height: 60%;
                width: 120%;
                object-fit: cover;
            }

            span {}
        }
    }
}