@import '../../index.scss';

// @include mobile{
   
    .container{
        // position: relative;


         .homeTop{
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      font-size: x-large;
    }

    .followingPost{
        font-family: Arial, Helvetica, sans-serif;
        width: 110px;

        select{
            appearance: none;
            background-color: transparent;
            color: cyan;
            border: none;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: pointer;
            line-height: inherit;
            outline: none;
            border-radius: 5px;
            padding: 4px;
        }

      
    }

        .allpost{
                margin-bottom: 100px;
                overflow: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            .post{
                margin-bottom: 20px;
            }
        }
    }
// }