.reels {
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: xx-large;
    .reel {
        margin: 0;

        video {
            width: 360px;
            height: 98%;
        }
    }
}